__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
top500_data/
part3_output/*
!part3_output/monthly_weights_2020-01_to_2025-12.csv
!part3_output/monthly_weight_diagnostics_2020-01_to_2025-12.csv
!part3_output/benchmark_returns_2020-01_to_2025-12.csv
!part3_output/monthly_weights_2000-01_to_2025-12.csv
!part3_output/monthly_weight_diagnostics_2000-01_to_2025-12.csv
!part3_output/benchmark_returns_2000-01_to_2025-12.csv
part4_output/
.DS_Store
